.AuthenticationPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-alert {
    margin-bottom: 20px;
  }
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}


